body {
	height: 100vh;
	background: linear-gradient(#111, #222);
}


#status-box {
	float: left;
	width: 18%;
	margin-left: 1%;
	background: white;
}

li {
	text-align: center;
	line-height: 2em;
	font-size: 2em;
}

li span {
	color: red;
}





#grid-container {
	margin: 1% auto;
	width: 60%;
	height: 89%;
	border: 1px solid black;
	background: linear-gradient(#6B6, #7C7);
}


.cell {
	float: left;
	margin: 0;
	width: 4%;
  height: 4%;
  text-align: center;
  color: red;
  text-shadow: 1px 1px 2px black;
}




.food {
	background-image: url(apple.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
	background-color: rgba(255, 0, 0, 0.2);
	box-shadow: 0 0 10px red;
}

.segment {
	background: url(tracks.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
}

.head {
	background-image: url(kitty.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.fire {
	background-image: url(fire.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.spike {
	background-image: url(spikes.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.star1 {
	background-image: url(star1.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
	box-shadow: 0 0 10px white;
}