body {
	height: 90vh;
}


#grid-container {
	margin: 5% auto;
	width: 45%;
	height: 90%;
	border: 1px solid black;
}


.cell {
	float: left;
	margin: 0;
	box-sizing: border-box;
	border: 1px solid gray;
  width: 2.5%;
  height: 2.5%;
  color: blue;
}